{% extends 'base.html' %}

{% block content %}
    <!-- LOGIN -->
    <section id="book" class="booking-section">
        <div class="booking-form">
          <h2>เข้าสู่ระบบ</h2>
          <p style="text-align: center;">กรุณากรอกอีเมลและรหัสผ่าน</p>

          <!--Message-->
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}" role="alert">
                  {{message}}
              </div>
            {% endfor %}
          {% endif %}


          <form method="post">{% csrf_token %}

            <label for="email">อีเมล</label>
            <input type="text" id="email" placeholder="กรอกอีเมล" required name="EMAIL" class="form-control">

            <label for="password">รหัสผ่าน</label>
            <input type="password" id="password" placeholder="กรอกรหัสผ่าน" required name="PWD" class="form-control">

            <br>

            <button type="submit">เข้าสู่ระบบ</button>
          </form>
          <br>
          <p style="text-align: center;">ยังไม่มีบัญชีใช่หรือไม่? <a style="color: #DAC494;" href="/register">สมัครบัญชีเลย!</a></p>

        </div>
      </section>
{% endblock %}
