{% extends 'base.html' %}

{% block content %}
    <!-- REGIS -->
    <section id="book" class="booking-section">
        <div class="booking-form">
            <h2>สมัครบัญชี</h2>
            <p style="text-align: center;">กรุณากรอกข้อมูลให้ครบถ้วน</p>
            
            <!-- Display error messages -->
            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                {% if message.tags == 'error' %}
                    <p>{{ message }}</p>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <!-- Display success messages -->
            {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                    <p>{{ message }}</p>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <form method = 'POST'>
                {% csrf_token %}
                <div class="signup-container">
                    <label for="email">อีเมล</label>
                    <input type="email" id="email" placeholder="กรอกอีเมล" required name = "register_email">

                    <label for="password">รหัสผ่าน</label>
                    <input type="password" id="password" placeholder="กรอกรหัสผ่าน" required name = "register_password">

                    <label for="fname">ชื่อ</label>
                    <input type="text" id="fname" placeholder="กรอกชื่อ" required name = "register_firstName">

                    <label for="lname">นามสกุล</label>
                    <input type="text" id="lname" placeholder="กรอกรหัสผ่าน" required name = "register_lastName">

                    <label for="phone">เบอร์โทรศัพท์</label>
                    <input type="text" id="phone" placeholder="กรอกเบอร์โทรศัพท์" required name = "register_phoneNumber">


                    <label for="address">ที่อยู่</label>
                    <input type="text" id="address" placeholder="กรอกที่อยู่" required name = "register_address">

                    <label for="birthdate">วันเกิด</label>
                    <input type="date" id="birthdate" required name = "register_birthDate">

                    <button id="signup-btn" type = 'submit'>สมัคร</button>
                </div>


                <br>
                <p style="text-align: center;">มีบัญชีแล้ว? <a style="color: #DAC494;" href="/login">เข้าสู่ระบบ!</a></p>
            </form>
        </div>
    </section>
{%endblock%}