<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บ้าน</title>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/reg.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1531/1531056.png">


    <!-- framework -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <style>
        .progress-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            margin-bottom: -20px;
        }

        .progress-bar {
            width: 100%;
            max-width: 400px;
            height: 8px;
            background: #ddd;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
        }

        .progress {
            width: 0%;
            height: 100%;
            background: #DAC494;
            transition: width 0.3s;
        }

        .progress-steps {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 400px;
            margin-top: 10px;
        }

        .step {
            width: 30px;
            height: 30px;
            background: #ddd;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }

        .step.active {
            background: #DAC494;
            color: #231F20;
        }

        .form-container {
            max-width: 600px;
            margin: auto;
        }

        .step-content {
            display: none;
        }

        .step-content.active {
            display: block;
        }

        .payment-container {
            display: flex !important;
            flex-direction: column;
            gap: 10px;
        }


        button {
            margin-top: 10px;
            padding: 10px;
            border: none;
            background: #DAC494;
            color: #231F20;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background: #DAC494;
        }
    </style>

</head>

<body>
    <header>

        <nav class="navbar">
            <div href="/" class="logo">
                <h2>แบงค์ นวดด้วยปาก</h2>
            </div>

            <label for="input-hamburger" class="hamburger">
            </label>
            <input type="checkbox" id="input-hamburger" hidden>


            <ul class="sidebar">

                <li><a href="/" class="menu-link">หน้าแรก</a></li>
                <li><a href="/service" class="menu-link">บริการ</a></li>
                <li><a href="/review" class="menu-link">รีวิว</a></li>
                <li><a href="/booking1" id="menu-book" class="menu-link">จองเวลา</a></li>
                {%if request.user.is_authenticated %}
                    <li><a href="/account" class="menu-link" >สวัสดี {{request.user.first_name}} !</a></li>
                    <li><a href="/logout" class="menu-link" >ออกจากระบบ</a></li>
                {% else %}
                    <li><a href="/login" class="menu-link" >เข้าสู่ระบบ</a></li>
                {% endif %}


            </ul>
        </nav>
    </header>

    <div class="progress-container">
        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>
        <div class="progress-steps">
            <div class="step active">1</div>
            <div class="step">2</div>
            <div class="step">3</div>
        </div>
    </div>

    <div class="form-container">
        <div class="step-content active" id="step-1">
            <section id="book" class="booking-section">
                <div class="booking-form">
                    <h2>ระบบการจอง</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Staff Dropdown -->
                        <label for="staff">เลือกพนักงาน:</label>
                        <select id="staff" name="staff" required>
                            <option value="">-- กรุณาเลือก --</option>
                            {% for staff in staff_list %}
                                <option value="{{ staff.staff_id }}">{{ staff.name }}</option>
                            {% empty %}
                                <option value="">ไม่มีพนักงาน</option>
                            {% endfor %}
                        </select>

                        <!-- Service Dropdown -->
                        <label for="service">เลือกบริการ:</label>
                        <select id="service" name="service" required>
                            <option value="">-- กรุณาเลือกบริการ --</option>
                            {% for service in service_list %}
                                <option value="{{ service.service_id }}">{{ service.name }}</option>
                            {% empty %}
                                <option value="">No Services Available</option>
                            {% endfor %}
                        </select>

                        <!-- Date and Time -->
                        <label for="date">วันที่จะมาใช้บริการ:</label>
                        <input type="date" id="date" name="date" required>

                        <label for="start-time">เริ่มเวลา:</label>
                        <input type="time" id="start-time" name="start-time" required>

                        <label for="end-time">สิ้นสุด(อัตโนมัติ):</label>
                        <input type="time" id="end-time" name="end-time" required>

                        <label for="message">บันทึกเพิ่มเติม:</label>
                        <textarea id="message" name="message"></textarea>
                    </form>
                    <button class="next">ถัดไป</button>
                </div>
            </section>
        </div>

        <div class="step-content" id="step-2">
            <section id="book" class="booking-section">
                <div class="booking-form">
                    <h2>ชำระค่ามัดจำในการจอง</h2>

                    <form id="payment-form">
                        <div class="payment-container">
                            <label><input type="radio" name="payment-method" value="credit card" id="credit-card" class="payment-method"> Credit Card</label>
                            <label><input type="radio" name="payment-method" value="bank transfer" id="bank-transfer" class="payment-method"> Bank Transfer</label>
                            <label><input type="radio" name="payment-method" value="cash" id="cash" class="payment-method"> Cash</label>

                            <div id="credit-card-fields" class="payment-fields" style="display: none;">
                                <label for="card-number">Card Number:</label>
                                <input type="text" id="card-number" name="card-number" placeholder="1234 5678 9012 3456" required>
                                <label for="expiry-date">Expiry Date:</label>
                        
                                <input type="month" id="expiry-date" name="expiry-date" required>
                                <label for="cvv">CVV:</label>
                                <input type="text" id="cvv" name="cvv" placeholder="123" required>
                            </div>

                            <div id="bank-transfer-fields" class="payment-fields" style="display: none;">
                                <label for="bank-name">Bank Name:</label>
                                <input type="text" id="bank-name" name="bank-name" placeholder="Bank Name" required>
                                <label for="account-number">Account Number:</label>
                                <input type="text" id="account-number" name="account-number" placeholder="Account Number" required>
                            </div>

                            <div id="cash-fields" class="payment-fields" style="display: none;">
                                <p>Please pay the amount in cash at the store during your visit.</p>
                            </div>
                        </div>
                    </form>

                    <button class="next">ถัดไป</button>
                    <br>
                    <button class="prev">ย้อนกลับ</button>
                </div>
            </section>
        </div>

        <div class="step-content" id="step-3">
            <section id="confirmation-section" class="booking-section">
                <div class="booking-form">
                    <h2>สรุปข้อมูลการจอง</h2>
                    <p><strong>พนักงาน:</strong> <span id="confirm-staff"></span></p>
                    <p><strong>บริการ:</strong> <span id="confirm-service"></span></p>
                    <p><strong>วันที่จะมาใช้บริการ:</strong> <span id="confirm-date"></span></p>
                    <p><strong>เวลา:</strong> <span id="confirm-time"></span></p>
                    <p><strong>การโอนค่ามัดจำ:</strong> <span id="confirm-payments"></span></p>
                    <p><strong>Payment Details:</strong> <span id="confirm-payment-details"></span></p>
                    <p><strong>บันทึกเพิ่มเติม:</strong> <span id="confirm-notes"></span></p>
                    
                    {% if user.is_authenticated %}
                    <button class="next" id="confirm-btn">Confirm Booking</button>
                    <br>
                    {% else %}

                    <script>
                        window.location.href = '/login'
                    </script>

                    {% endif %}
                    
                    <button class="prev">Previous</button>
                </div>
            </section>
        </div>
        
        <div class="step-content" id="step-4">
            <section id="receipt-section" class="booking-section">
                <div class="booking-form">
                    <h2>ใบเสร็จการจอง</h2>
                    <p color = 'red'>กรุณาบันทึกภาพหน้าจอหน้านี้ก่อนเข้าใช้บริการที่ร้าน</p>
                    <p><strong>รหัสการจอง:</strong> <span id="receipt-number"></span></p>
                    <p><strong>พนักงาน:</strong> <span id="receipt-staff"></span></p>
                    <p><strong>บริการ:</strong> <span id="receipt-service"></span></p>
                    <p><strong>วันที่จะมาใช้บริการ:</strong> <span id="receipt-date"></span></p>
                    <p><strong>เวลา:</strong> <span id="receipt-time"></span></p>
                    <p><strong>บันทึกเพิ่มเติม:</strong> <span id="receipt-notes"></span></p>
                    <p><strong>การจอง:</strong> <span id="receipt-payments"></span></p>

                    <button onclick="printReceipt()">พิมพ์ใบเสร็จ</button>
                    <br>
                    <button onclick="window.location.href='/'">กลับสู่หน้าแรก</button>
                    <br>
                    <button onclick="window.location.href='/booking1'">จองเพิ่ม!</button>

                </div>
            </section>
        </div>

        <script>
            let currentStep = 0;
            const steps = document.querySelectorAll(".step");
            const contents = document.querySelectorAll(".step-content");
            const nextButtons = document.querySelectorAll(".next");
            const prevButtons = document.querySelectorAll(".prev");

            let bookingData = {
                staff: '',
                service: '',
                date: '',
                startTime: '',
                endTime: '',
                paymentMethod: '',
                cardNumber: '',
                expiryDate: '',
                cvv: '',
                bankName: '',
                accountNumber: '',
                additionalNotes: ''
            };

            function updateSteps() {
                steps.forEach((step, index) => {
                    step.classList.toggle("active", index <= currentStep);
                });

                contents.forEach((content, index) => {
                    content.classList.toggle("active", index === currentStep);
                });
            }

            function validateStep(step) {
                console.log("Validating step:", step);
                
                if (step === 0) {
                    let staff = document.getElementById('staff').value;
                    let service = document.getElementById('service').value;
                    let date = document.getElementById("date").value;
                    let startTime = document.getElementById("start-time").value;
                    let endTime = document.getElementById("end-time").value;

                    if (!staff || !service || !date || !startTime || !endTime) {
                        alert("Please fill in all fields before proceeding.");
                        return false;
                    }

                    bookingData.staff = staff;
                    bookingData.service = service;
                    bookingData.date = date;
                    bookingData.startTime = startTime;
                    bookingData.endTime = endTime;
                    bookingData.additionalNotes = document.getElementById("message").value;
                } 

                else if (step === 1) {
                    let paymentMethod = document.querySelector('input[name="payment-method"]:checked');
                    
                    if (!paymentMethod) {
                        alert("Please select a payment method.");
                        return false;
                    }

                    bookingData.paymentMethod = paymentMethod.value;

                    if (bookingData.paymentMethod === 'credit card') {
                        bookingData.cardNumber = document.getElementById("card-number").value;
                        bookingData.expiryDate = document.getElementById("expiry-date").value;
                        bookingData.cvv = document.getElementById("cvv").value;
                    } else if (bookingData.paymentMethod === 'bank transfer') {
                        bookingData.bankName = document.getElementById("bank-name").value;
                        bookingData.accountNumber = document.getElementById("account-number").value;
                    }
                }

                return true;
            }

            function displayConfirmation() {

                let staff = document.getElementById('staff');
                let staff_name = staff.options[staff.selectedIndex].text;

                let service = document.getElementById('service');
                let service_name = service.options[service.selectedIndex].text;

                document.getElementById("confirm-staff").textContent = staff_name;
                document.getElementById("confirm-service").textContent = service_name;
                document.getElementById("confirm-date").textContent = bookingData.date;
                document.getElementById("confirm-time").textContent = `${bookingData.startTime} - ${bookingData.endTime}`;
                document.getElementById("confirm-payments").textContent = bookingData.paymentMethod;

                if (bookingData.paymentMethod === 'credit card') {
                    document.getElementById("confirm-payment-details").textContent = `Card Number: ${bookingData.cardNumber}, Expiry Date: ${bookingData.expiryDate}`;
                } else if (bookingData.paymentMethod === 'bank transfer') {
                    document.getElementById("confirm-payment-details").textContent = `Bank Name: ${bookingData.bankName}, Account Number: ${bookingData.accountNumber}`;
                }

                document.getElementById("confirm-notes").textContent = bookingData.additionalNotes;
            }

            function displayReceipt(bookingData) {

                let staff = document.getElementById('staff');
                let staff_name = staff.options[staff.selectedIndex].text;

                let service = document.getElementById('service');
                let service_name = service.options[service.selectedIndex].text;

                let bookingNumber = generateBookingNumber(bookingData); 

                document.getElementById("receipt-number").textContent = bookingNumber;
                document.getElementById("receipt-staff").textContent = staff_name;
                document.getElementById("receipt-service").textContent = service_name;
                document.getElementById("receipt-date").textContent = bookingData.date;
                document.getElementById("receipt-time").textContent = `${bookingData.startTime} - ${bookingData.endTime}`;
                document.getElementById("receipt-notes").textContent = bookingData.additionalNotes;
                document.getElementById("receipt-payments").textContent = bookingData.paymentMethod;
            }

            nextButtons.forEach(button => {
                button.addEventListener("click", () => {
                    console.log("Next button clicked, Current Step:", currentStep);

                    if (validateStep(currentStep)) {
                        if (currentStep < steps.length - 1) {
                            currentStep++;
                            updateSteps();

                            if (currentStep === 2) {
                                displayConfirmation();
                            }
                            
                        }
                    } else {
                        console.log("Validation failed at step:", currentStep);
                    }
                });
            });

            prevButtons.forEach(button => {
                button.addEventListener("click", () => {
                    if (currentStep > 0) {
                        currentStep--;
                        updateSteps();
                    }
                });
            });

            updateSteps();
            
            document.addEventListener("DOMContentLoaded", function() {
                let confirmBtn = document.getElementById("confirm-btn");
                if (confirmBtn) {
                    confirmBtn.addEventListener("click", function () {
                        console.log("Confirm button clicked");
                        let bookingNumber = generateBookingNumber(bookingData);
                        console.log(bookingNumber);
                        document.getElementById("receipt-number").innerText = bookingNumber;
                        displayReceipt(bookingData);
                        
                        sendDataToServer();
                        currentStep = 3;
                        updateSteps();
                    });
                } else {
                    console.error("Confirm button not found!");
                }
            }); 
            document.querySelectorAll("form").forEach(form => {
                form.addEventListener("submit", function (event) {
                    event.preventDefault();
                });
            });

            document.querySelectorAll('.payment-method').forEach((paymentOption) => {
                paymentOption.addEventListener('change', function () {
                    let selectedPaymentMethod = document.querySelector('input[name="payment-method"]:checked').value;
                    console.log("Payment method selected:", selectedPaymentMethod);

                    document.querySelectorAll('.payment-fields').forEach((field) => {
                        field.style.display = 'none';
                    });

                    if (selectedPaymentMethod === 'credit card') {
                        document.getElementById('credit-card-fields').style.display = 'block';
                    } else if (selectedPaymentMethod === 'bank transfer') {
                        document.getElementById('bank-transfer-fields').style.display = 'block';
                    } else if (selectedPaymentMethod === 'cash') {
                        document.getElementById('cash-fields').style.display = 'block';
                    }
                });
            });

            document.getElementById("confirm-btn").addEventListener("click", function () {
                let bookingNumber = generateBookingNumber(bookingData);
                console.log(bookingNumber);
                document.getElementById("receipt-number").innerText = bookingNumber;

                currentStep = 3;
                updateSteps();
            });

            function generateBookingNumber(bookingData) {
                // จัดเรียงข้อมูลใหม่โดยใช้วันที่, เวลาเริ่ม, เวลาจบ, staffId, และ serviceId
                let bookingNumber = `${bookingData.date.replace(/-/g, '')}`;  // เอาวันที่มาใช้ (รูปแบบ YYYYMMDD)
                bookingNumber += `${bookingData.startTime.replace(/:/g, '')}`;  // เวลาเริ่ม (เอาเครื่องหมาย ":" ออก)
                bookingNumber += `${bookingData.endTime.replace(/:/g, '')}`;    // เวลาจบ (เอาเครื่องหมาย ":" ออก)
                
                // ทำให้ staffId และ serviceId มีความยาว 3 หลัก
                let staffId = bookingData.staff.toString().padStart(3, '0');
                let serviceId = bookingData.service.toString().padStart(3, '0');

                // รวม staffId และ serviceId เข้าไปใน bookingNumber
                bookingNumber += staffId;  // staffId ที่มีความยาว 3 หลัก
                bookingNumber += serviceId;  // serviceId ที่มีความยาว 3 หลัก

                return bookingNumber;
            }


            function printReceipt() {
                let receiptContent = document.getElementById("receipt-section").innerHTML;
                let originalContent = document.body.innerHTML;

                document.body.innerHTML = receiptContent;
                window.print();
                document.body.innerHTML = originalContent;
            }

            function sendDataToServer() {
                fetch('/save-booking/', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCSRFToken() // Ensure CSRF token is sent if needed
                    },
                    body: JSON.stringify({
                        staff: bookingData.staff,  // ID ของ staff
                        service: bookingData.service,  // ID ของ service
                        date: bookingData.date,  // วันที่
                        startTime: bookingData.startTime,  // เวลาเริ่มต้น
                        endTime: bookingData.endTime,  // เวลาสิ้นสุด
                        paymentMethod: bookingData.paymentMethod,  // วิธีการชำระเงิน
                        cardNumber: bookingData.cardNumber || '',  // หมายเลขบัตร (ถ้ามี)
                        expiryDate: bookingData.expiryDate || '',  // วันหมดอายุของบัตร (ถ้ามี)
                        cvv: bookingData.cvv || '',  // CVV (ถ้ามี)
                        bankName: bookingData.bankName || '',  // ชื่อธนาคาร (ถ้ามี)
                        accountNumber: bookingData.accountNumber || '',  // เลขที่บัญชี (ถ้ามี)
                        additionalNotes: bookingData.additionalNotes || '',  // หมายเหตุเพิ่มเติม (ถ้ามี)
                        walkIn: bookingData.walkIn || false,  // สถานะ walk-in
                        commissionAmount: bookingData.commissionAmount || 0.00,  // จำนวนค่าคอมมิชชั่น
                        tempCustomer: bookingData.tempCustomer || null  // ลูกค้าชั่วคราว (ถ้ามี)
                    })
                })
                .then(response => response.json())  // แปลง response เป็น JSON
                .then(data => {
                    if (data.status === "success") {
                        // อัพเดต UI ด้วย booking_id ที่ได้รับ
                    } else {
                        console.error("Error saving booking", data.message);
                    }
                })
                .catch(error => {
                    console.error("Error saving booking", error);  // ตรวจสอบข้อผิดพลาดที่เกิดขึ้น
                });
            }

            function getCSRFToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }
        </script>
    </div>
</body>
</html>